.root{
    display:flex;
    justify-content: center;
}
.main{
    font: 400 32px 'Roboto', sans-serif;
    display: flex;
    padding: 32px 32px;
    align-items: center;
    justify-content: center;
    max-width:1000px;
    padding: 40px 100px;
    border: 5px ridge #000

}

.form-input{
    display:flex;
    flex-direction:column;
    width:100%;
    max-width: 600px;
    align-items:stretch;
    text-align: center;

    form {
        display: flex;
        flex-direction:column;
        gap: 5px;
       

        input{
            height:50px;
            border:1px solid #000!important;
            border-radius: 8px;
            padding: 0 16px;
            background: #fff;
            border: 1px solid #ccc;
            margin: 10px 10px;
            
        }


        button {
            align-self: center;
            margin-top:16px;
            max-width: 300px;
            background-color: #00008B
            
        }

        button, input{
            width:100%;
        }
    }
}

.selects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.input-select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: 400 16px 'Roboto', sans-serif;
    text-decoration: double;
   
    >select {
        width: 200px;
        height: 50px;
        justify-content: center;
        font: 400 16px 'Roboto', sans-serif;
        align-self: center;
        border-radius: 8px;
        text-align: center;
    }
}
.button-submit{
    display: flex;
    justify-content: center;
}