form{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 40px
    }


label {
    display: flex;
}

button{
    margin: 20px;
    display: flex;
    width: 100px;
    justify-content: center;
}

.select-input{
    width: 200px;
}