.footer{
    display:flex;
    align-items:center;
    justify-content:center;
    margin: 20px 0px 20px;
    // position:relative;
    bottom:0;
    width:100%;
    margin: -20px 0px;

}

.template-footer{
    grid-area: footer;
}
