.content{
    display: flex;
    flex-direction: column;
}

.Cards{
    display: flex;
    flex-wrap: wrap;
}

.button-delete{
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: red;
    color: #FFF;
    color: #FFF;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
}

.button-add-construct{
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #009ACD;
    color: #FFF;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
}

.caption-constructs{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr!important;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    >span{
        font-weight: bold;
        font-size: 22px;
        margin-right: 10px;
    }
    
}

.constructs{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr!important;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 1px solid;
}


.admin-area{
    display: flex;
    justify-content:center;
    gap: 50px;
    }
.modal{
    display: flex;
    justify-content:center;
}

.modal-style{
    display: flex;
    justify-content:center;
    position: relative;
    top: 10%;
    left:10%;
    border: 8px solid #000;
    margin-right: -50%;
    background: #FFF;
    max-width:80%;
    padding: 20px
    }