*{
    max-width: 100vw;
    font: 400 16px 'Roboto', sans-serif;
}
.content{
    display:flex;
    flex-direction: column;
}

.menu-busca{
    display:flex;
    justify-content: center;
    gap: 10px;
    font: 400 16px 'Roboto', sans-serif;
}

.caption{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}


.extensions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 1px solid;
}
